#root {
  font-family: 'Ancient', sans-serif;
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  gap: 1em;
}

.game-title {
  font-size: 3em;
}
.game-title .caps {
  font-size: 1.75em;
  font-weight: 400;
}
